@using Entities
@using Business
@inject B_Product bProduct
<div>
    <EditForm Model="oProduct">
        <div class="form-control">
            <label>Referencia: </label>
            <InputText @bind-Value="oProduct.ProductId" class="form-control" />
        </div>
        <div class="form-control">
            <label>Nombre: </label>
            <InputText @bind-Value="oProduct.ProductName" class="form-control" />
        </div>
        <div class="form-control">
            <label>Descripción: </label>
            <InputTextArea @bind-Value="oProduct.ProductDescription" class="form-control" />
        </div>

        <input type="button" value="Agregar Producto" @onclick="SaveProduct" />

    </EditForm>
</div>


@code {
    ProductEntity oProduct = new ProductEntity();
    private void SaveProduct()
    {
        bProduct.CreateItem(oProduct);
    }
}
