@using Entities
@using Business 
@inject B_Category bCategory

<table class="table">
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Nombre de la categoria</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in categories)
            {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
            <td><a href="category/edit/@category.CategoryId">Editar</a></td>

        </tr>
            }
    </tbody>
</table>


@code {
    List<CategoryEntity> categories = new List<CategoryEntity>();
    List<CategoryEntity> tempCategories = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        categories = bCategory.ItemList();
    }
}
